{
  "name": "Language study",
  "notes": "Genex pilot 5 - TG - Fall 2020",
  "completion_URL": "https://app.prolific.co/submissions/complete?cc=6409D724",
  "conditions": [
    {
      "name": "pedagogical-3",
      "experiment_URL": "https://www.mit.edu/~t_gao/projects/genex/experiments/experiment-ped3.html",
      "participants": 50
    },
    {
      "name": "pedagogical-4",
      "experiment_URL": "https://www.mit.edu/~t_gao/projects/genex/experiments/experiment-ped4.html",
      "participants": 50
    },
    {
      "name": "generic",
      "experiment_URL": "https://www.mit.edu/~t_gao/projects/genex/experiments/experiment-gen.html",
      "participants": 25
    },
    {
      "name": "gen+ped",
      "experiment_URL": "https://www.mit.edu/~t_gao/projects/genex/experiments/experiment-gen+ped.html",
      "participants": 25
    }
  ]
}
