{
  "name": "Language study",
  "notes": "Genex pilot 6 - TG - Fall 2020",
  "completion_URL": "https://app.prolific.co/submissions/complete?cc=6437CD75",
  "conditions": [
    {
      "name": "pedagogical-2",
      "experiment_URL": "https://www.mit.edu/~t_gao/projects/genex/experiments/experiment-ped2.html",
      "participants": 60
    },
    {
      "name": "pedagogical-4",
      "experiment_URL": "https://www.mit.edu/~t_gao/projects/genex/experiments/experiment-ped4.html",
      "participants": 60
    }
  ]
}