{
  "name": "Language study",
  "notes": "Genex pilot 4 - TG - Fall 2020",
  "completion_URL": "https://app.prolific.co/submissions/complete?cc=77B10A57",
  "conditions": [
    {
      "name": "accidental-1",
      "experiment_URL": "https://www.mit.edu/~t_gao/projects/genex/experiments/experiment-acc1.html",
      "participants": 30
    },
    {
      "name": "accidental-2",
      "experiment_URL": "https://www.mit.edu/~t_gao/projects/genex/experiments/experiment-acc2.html",
      "participants": 30
    },
    {
      "name": "pedagogical-1",
      "experiment_URL": "https://www.mit.edu/~t_gao/projects/genex/experiments/experiment-ped1.html",
      "participants": 31
    },
    {
      "name": "pedagogical-2",
      "experiment_URL": "https://www.mit.edu/~t_gao/projects/genex/experiments/experiment-ped2.html",
      "participants": 30
    },
    {
      "name": "generic",
      "experiment_URL": "https://www.mit.edu/~t_gao/projects/genex/experiments/experiment-generic.html",
      "participants": 25
    },
    {
      "name": "gen+ped",
      "experiment_URL": "https://www.mit.edu/~t_gao/projects/genex/experiments/experiment-gen+ped.html",
      "participants": 25
    }
  ]
}
