.Rproj.user
.Rhistory
.RData
.Ruserdata
mturk/
prolific/2020-fall/sandbox
prolific/2020-fall/pilot-1/pilot-1-acc1-ped1-workerids.csv
prolific/2020-fall/pilot-2/pilot-1-acc1-ped1-workerids.csv
prolific/2020-fall/pilot-3/genex-pilot-3-workerids.csv
prolific/2020-fall/pilot-4/genex-pilot-4-workerids.csv
prolific/2020-fall/pilot-5/genex-pilot-5-workerids.csv