.Rproj.user
.Rhistory
.RData
.Ruserdata
mturk/
prolific/2020-fall/sandbox
prolific/2020-fall/pilot-1
prolific/2020-fall/pilot-1-acc1-ped1-workerids.csv
prolific/2020-fall/pilot-1-acc1-ped1-prolific_participant_id.csv