{
  "name": "Language study",
  "notes": "Genex pilot 1 - TG - Fall 2020",
  "completion_URL": "https://app.prolific.co/submissions/complete?cc=411A8E7A",
  "conditions": [
    {
      "name": "accidental-1",
      "experiment_URL": "https://www.mit.edu/~t_gao/projects/genex/experiments/proliferate-experiment-acc1.html",
      "participants": x
    },
    {
      "name": "pedagogical-1",
      "experiment_URL": "https://www.mit.edu/~t_gao/projects/genex/experiments/proliferate-experiment-ped1.html",
      "participants": x
    }
  ]
}
