{
  "name": "Language study",
  "notes": "Genex pilot 3 - TG - Fall 2020",
  "completion_URL": "https://app.prolific.co/submissions/complete?cc=4D52F07E",
  "conditions": [
    {
      "name": "accidental-1",
      "experiment_URL": "https://www.mit.edu/~t_gao/projects/genex/experiments/experiment-acc1.html",
      "participants": 20
    },
    {
      "name": "accidental-2",
      "experiment_URL": "https://www.mit.edu/~t_gao/projects/genex/experiments/experiment-acc2.html",
      "participants": 20
    },
    {
      "name": "pedagogical-1",
      "experiment_URL": "https://www.mit.edu/~t_gao/projects/genex/experiments/experiment-ped1.html",
      "participants": 20
    },
    {
      "name": "pedagogical-2",
      "experiment_URL": "https://www.mit.edu/~t_gao/projects/genex/experiments/experiment-ped2.html",
      "participants": 20
    }
  ]
}
