<html>

    <head>
        <title>Generics Exploration 2</title>

        <!--JS-->

        <!-- external general utilities -->
        <script src="../_shared/js/jquery-1.11.1.min.js "></script>
        <script src="../_shared/full-projects/jquery-ui/jquery-ui.min.js"></script>
        <script src="../_shared/js/underscore-min.js"></script>
        <!-- if you want to draw stuff: -->
        <!-- <script src="../_shared/js/raphael-min.js"></script> -->

        <!-- cocolab experiment logic -->
        <script src="../_shared/js/exp-V2.js"></script>
        <script src="../_shared/js/stream-V2.js"></script>

        <!-- cocolab general utilities -->
        <script src="../_shared/js/mmturkey.js "></script>
        <script src="../_shared/js/browserCheck.js"></script>
        <script src="../_shared/js/utils.js"></script>
        <script src="../_shared/js/uniqueturker.js"></script>
        <!-- if you want to draw cute creatures (depends on raphael): -->
        <!-- <script src="../_shared/js/ecosystem.js"></script> -->
        <!-- experiment specific helper functions -->
        <!-- <script src="js/local-utils.js"></script> -->

        <!--CSS-->
        <link href="../_shared/full-projects/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
        <link href="../_shared/css/cocolab-style.css" rel="stylesheet" type="text/css"/>
        <link href="css/local-style.css" rel="stylesheet" type="text/css"/>

        <!-- experiment file -->
        <script src="js/template.js"></script>
    </head>

    <body onload="init();">
        <noscript>This task requires JavaScript.</noscript>

        <div class="slide" id="i0">

            <img src="../_shared/images/cpl.png" alt="MIT Computational Psycholinguistics Lab" id="cpl_logo"></img>

            <p id="instruct-text">
                You will learn about new objects on an alien planet and be asked a few questions about them. The HIT should take ~5 minutes. Please pay attention, thanks!
            </p>
            <button id="start_button" type="button">Start Experiment</button>
            <p id="legal">
                Legal information: By answering the following questions, you are participating in a study being performed by cognitive scientists in the MIT Computational Psycholinguistics Lab. If you have questions about this research, please contact Teresa Gao at <a href="mailto:t_gao@mit.edu">t_gao@mit.edu</a> or MH Tessler at <a href="mailto:tessler@mit.edu">tessler@mit.edu</a>. You must be  at least 18 years old to participate. Your participation in this research is voluntary. You may decline to answer any or all of the following questions. You may decline further participation, at any time, without adverse consequences. Your anonymity is assured; the researchers who have requested your participation will not receive any personal information about you.
            </p>
        </div>

        <div class="slide" id="botcaptcha">

            <h3>Are you a bot?</h3>
            <div id="bot_context"> </div>
            <input type="text" id="botresponse" size="30"></input>
            <button onclick="_s.button()" id="bot_button">Continue</button>

            <p class="error write_something">Please write something in the text box before clicking <b>Continue</b>.</p>
            <p class="error error_incorrect">This is incorrect.</p>
            <p class="error error_2more">You have 2 more trials.</p>
            <p class="error error_1more">You have 1 more trial.</p>
            <p class="error error_final">
                Error: You failed the comprehension questions too many times.
                You are not permitted to complete the HIT. Please click 'Return HIT' to avoid any impact on your approval rating.
                <br/><br/>
                If you believe you are receiving this message in error, please email <a href="mailto:t_gao@mit.edu">t_gao@mit.edu</a>
            </p>
        </div>

        <div class="slide" id="sound_check">
            <h3>Sound Check</h3>

            <p>Please adjust your system volume to a comfortable level. When you are ready, click the <b>Test</b> button. You will hear a word like "skyscraper". Enter the word you hear into the box below and click <b>Continue</b> when you are finished.</p>
            <button onclick="_s.test_sound()" id="sound_test_button">Test</button><br>
            <input type="text" id="sound_response"></input><br><br><br>
            <button onclick="_s.button()" id="sound_button">Continue</button>
            
            <p class="error write_something">Please write something in the text box before clicking <b>Continue</b>.</p>
            <p class="error error_incorrect">This is incorrect.</p>
            <p class="error error_2more">You have 2 more trials.</p>
            <p class="error error_1more">You have 1 more trial.</p>
            <p class="error error_final">
                Error: You failed the comprehension questions too many times.
                You are not permitted to complete the HIT. Please click 'Return HIT' to avoid any impact on your approval rating.
                <br/><br/>
                If you believe you are receiving this message in error, please email <a href="mailto:t_gao@mit.edu">t_gao@mit.edu</a>
            </p>
        </div>

        <div class="slide" id="introduction">
            <h3>Introduction</h3>
            <p>
                You are an astronaut-scientist working on a recently discovered planet outside of the solar system. You have recently started a new job at a scientific laboratory. Your job is to catalogue and describe new kinds of plants, animals, and objects that have been discovered on the planet.</p>
            <button onclick="_s.button()">Continue</button>
        </div>

        <div class="slide" id="greeting">
            <div class="container">
                <img class="background" id="background_greeting" src="">

                <img class="table" src="../_shared/images/table.svg">

                <img class="agent straight_agent Mouse_straight"  src="../_shared/images/Mouse_straight.png">
                    
                <img class="agent straight_agent Monkey_straight"  src="../_shared/images/Monkey_straight.png">
                        
                <img class="agent straight_agent Bunny_straight"  src="../_shared/images/Bunny_straight.png">
         
                <img class="agent straight_agent Dog_straight"  src="../_shared/images/Dog_straight.png">  
                    
                <img class="agent straight_agent Elephant_straight"  src="../_shared/images/Elephant_straight.png">
                    
                <img class="agent straight_agent Pig_straight"  src="../_shared/images/Pig_straight.png"> 
                    
                <img class="agent straight_agent Bear_straight"  src="../_shared/images/Bear_straight.png">
                    
                <img class="agent straight_agent Beaver_straight"  src="../_shared/images/Beaver_straight.png">  
                    
                <img class="agent straight_agent Cat_straight"  src="../_shared/images/Cat_straight.png">
                    
                <img class="agent straight_agent Sheep_straight"  src="../_shared/images/Sheep_straight.png">
                    
                <img class="agent straight_agent Tiger_straight"  src="../_shared/images/Tiger_straight.png">
                    
                <img class="agent straight_agent Frog_straight"  src="../_shared/images/Frog_straight.png">

                <div class="speech-bubble speech-bubble-left"></div>
            </div>

            <button onclick="_s.button()" style="margin-top:20px; position:relative">Continue</button>
        </div>

        <div class="slide" id="trials">
            <div class="container">
                <img class="background" id="background_trials" src="">

                <img class="object object1 closed" src="">
                <img class="object object1 open" src="">
                <img class="object object2 closed" src="">
                <img class="object object2 open" src="">
                <img class="object object3 closed" src="">
                <img class="object object3 open" src="">
                <img class="object object4 closed" src="">
                <img class="object object4 open" src="">
                
                <img class="table" src="../_shared/images/table.svg">

                <img class="agent straight_agent Mouse_straight"  src="../_shared/images/Mouse_straight.png">
                <img class="agent point_agent_r Mouse_point_r"  src="../_shared/images/Mouse_point_r.png">
                    
                <img class="agent straight_agent Monkey_straight"  src="../_shared/images/Monkey_straight.png">
                <img class="agent point_agent_r Monkey_point_r"  src="../_shared/images/Monkey_point_r.png">
                        
                <img class="agent straight_agent Bunny_straight"  src="../_shared/images/Bunny_straight.png">
                <img class="agent point_agent_r Bunny_point_r"  src="../_shared/images/Bunny_point_r.png">    
         
                <img class="agent straight_agent Dog_straight"  src="../_shared/images/Dog_straight.png">
                <img class="agent point_agent_r Dog_point_r"  src="../_shared/images/Dog_point_r.png">     
                    
                <img class="agent straight_agent Elephant_straight"  src="../_shared/images/Elephant_straight.png">
                <img class="agent point_agent_r Elephant_point_r"  src="../_shared/images/Elephant_point_r.png"> 
                    
                <img class="agent straight_agent Pig_straight"  src="../_shared/images/Pig_straight.png">
                <img class="agent point_agent_r Pig_point_r"  src="../_shared/images/Pig_point_r.png">  
                    
                <img class="agent straight_agent Bear_straight"  src="../_shared/images/Bear_straight.png">
                <img class="agent point_agent_r Bear_point_r"  src="../_shared/images/Bear_point_r.png">
                    
                <img class="agent straight_agent Beaver_straight"  src="../_shared/images/Beaver_straight.png">
                <img class="agent point_agent_r Beaver_point_r"  src="../_shared/images/Beaver_point_r.png">   
                    
                <img class="agent straight_agent Cat_straight"  src="../_shared/images/Cat_straight.png">
                <img class="agent point_agent_r Cat_point_r"  src="../_shared/images/Cat_point_r.png">
                    
                <img class="agent straight_agent Sheep_straight"  src="../_shared/images/Sheep_straight.png">
                <img class="agent point_agent_r Sheep_point_r"  src="../_shared/images/Sheep_point_r.png">
                    
                <img class="agent straight_agent Tiger_straight"  src="../_shared/images/Tiger_straight.png">
                <img class="agent point_agent_r Tiger_point_r"  src="../_shared/images/Tiger_point_r.png"> 
                    
                <img class="agent straight_agent Frog_straight"  src="../_shared/images/Frog_straight.png">
                <img class="agent point_agent_r Frog_point_r"  src="../_shared/images/Frog_point_r.png">

                <div class="speech-bubble speech-bubble-left"></div>
            </div>

            <p id="prompt"></p>
            <table id="slider_table" class="slider_table">
                <tr>
                    <td class="slider_label left">0% (not likely at all)</td>
                    <td class="slider_label right">100% (extremely likely)</td>
                </tr>
                <tr>
                    <td colspan="2"><div id="single_slider" class="slider"></div>
                    </td>
                </tr>
            </table>

            <div class="error">Please adjust the slider before continuing.</div>

            <!-- <button id="continue_button" onclick="_s.continue_button2()" style="margin-top:20px; position:relative">Continue</button> -->

            <button class="continue_button" id="continue_button1" onclick="_s.continue_button1()" style="margin-top:20px; position:relative">Continue</button>

            <button class="continue_button" id="continue_button2" onclick="_s.continue_button2()" style="margin-top:20px; position:relative">Continue</button>
        </div>

        <div class="slide"  id="subj_info">
            <div class="long_form">
                <h3>Post-HIT Survey</h3>
                <p class="info">Answering these questions is optional, but doing so will help us better understand your responses.</p>
                <p>Did you read the instructions and do you think you did the HIT correctly?</p>
                <label><input type="radio"  name="assess" value="No"/>No</label>
                <label><input type="radio"  name="assess" value="Yes"/>Yes</label>
                <label><input type="radio"  name="assess" value="Confused"/>I was confused</label>

                <p>Did you experience any problems or bugs in the experiment?</p>
                <textarea id="problems" rows="2" cols="50"></textarea>

                <p>What do you think is a fair price for the work you did?</p>
                <textarea id="fairprice" rows="1" cols="10"></textarea>

                <p>Gender:
                    <select id="gender">
                        <label><option value=""/></label>
                        <label><option value="Male"/>Male</label>
                        <label><option value="Female"/>Female</label>
                        <label><option value="Other"/>Other</label>
                    </select>
                </p>

                <p>Age: <input type="text" id="age"/></p>

                <p>Level Of Education:
                    <select id="education">
                        <label><option value="-1"/></label>
                        <label><option value="0"/>Some High School</label>
                        <label><option value="1"/>Graduated High School</label>
                        <label><option value="2"/>Some College</label>
                        <label><option value="3"/>Graduated College</label>
                        <label><option value="4"/>Hold a higher degree</label>
                    </select>
                </p>

                <p>Native Language: <input type="text" id="language"/></p>
                <label>(the language(s) spoken at home when you were a child)</label>

                <p>Do you have any additional comments to share about the experiment?</p>
                <textarea id="comments" rows="3" cols="50"></textarea>
                <br/>
                <button id="submit_button" onclick="_s.submit()" style="margin-top:20px;" type="button">Submit</button>
            </div>
        </div>

        <div id="thanks" class="slide">
            <h3>Thank you for your participation!</h3>
        </div>

        <div class="progress">
            <div class="bar-wrapper">
                <div class="bar" width="0%">
                </div>
            </div>
        </div>

    </body>
</html>