* {
	font-family: "Arial";
	text-align: left;
}

.slide {
	width: 600px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: none;
	border: 0;
}

h3 {
	text-align: center;
}

.error {
	color: red;
    text-align: center;
}

.error_final {
    text-align: left;
}

.write_something {
    color: black;
}

.trials_container {
    position: relative;
}

#background {
    position: relative;
    width: 600px;
    height: 400px;
    z-index: 0;
    opacity: 0.5;
    filter: grayscale(50%);
}

.agent {
    position: absolute;
    height: 300px;
    bottom: 0px;
    left:           50px;
    z-index: 1;
}

.object {
    position: absolute;
    bottom: 30px;
    right: 135px;
    width: 125px;
    z-index: 2;
}

.table {
    position: absolute;
    bottom: 0px;
    right: 125px;
    width: 150px;
    height: 30px;
    z-index: 1;
}

.speech-bubble {
    background: #f8f8f8;
    border-radius: 4px;
    font-size: 1rem;
    line-height: 1.3;
    border: 1px solid black;
    padding: 15px;
    position: absolute;
    z-index: 3;
    top: 10px;
    left: 10px;
    right: 10px;
}

.speech-bubble p {
    margin: 0 0 10px;
}
.speech-bubble p:last-of-type {
    margin-bottom: 0;
}


.speech-bubble:after {
    border-left: 20px solid transparent;
    border-top: 20px solid black;
    bottom: -20px;
    content: "";
    position: absolute;
    left: 150px;
    z-index: 1;
}


.speech-bubble:before {
    border-left: 19px solid transparent;
    border-top: 19px solid #f8f8f8;
    bottom: -19px;
    content: "";
    position: absolute;
    left: 151px;
    z-index: 3;
}