* {
	font-family: "Arial";
	text-align: left;
}

.slide {
	width: 600px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: none;
	border: 0;
}

.background {
	width: 600px;
	z-index: 0;
}

h3 {
	text-align: center;
}

.error {
	color: red;
}

.error_incorrect, .error_2more, .error_1more {
    text-align: center;
}

.agent {
    position: absolute;
    width: 350px;
    z-index: 1;
}

.object_r {
    position: absolute;
    width: 150px;
    z-index: 2
}

.object_l {
    position: absolute;
    width: 150px;
    z-index: 2
}

.table_r {
    position: absolute;
    width: 280px;
    z-index: 0
}

.table_l {
    position: absolute;
    width: 280px;
    z-index: 0
}